## Preparação ambiente

In [96]:
#Importa os pacotes
import pandas as pd
import os
import tabula

In [97]:
#Define caminho para datasets
caminho_precos_por_semestre = './v0/PrecosAgrupadosPorSemestre'
caminho_precos_por_mes = './v0/PrecosAgrupadosPorMes'
caminho_precos_ultimas_semanas = './v0/PrecosQuatroUltimasSemanas'

**1.Verifica estrutura arquivos de Histórico**

In [100]:
example_file_path = os.path.join(caminho_precos_por_semestre, os.listdir(caminho_precos_por_semestre)[0]) 

example_file = pd.read_csv(example_file_path, nrows=10, encoding="utf-16")

print(example_file)

                                                          Região - Sigla\tEstado - Sigla\tMunicípio\tRevenda\tCNPJ da Revenda\tProduto\tData da Coleta\tValor de Venda\tValor de Compra\tUnidade de Medida\tBandeira
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8287\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 25\t2                            5921\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN

**2.Cria DataFrame Pandas para armazenar os dados dos datasets de histórico de preço**

In [117]:
lista_df_temp = []

#carrega arquivos agrupados por semestre
for file_path in os.listdir(caminho_precos_por_semestre):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_semestre, file_path), encoding = 'utf-16', sep= '\t'))    
    
#carrega arquivos agrupados por mes
for file_path in os.listdir(caminho_precos_por_mes):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_mes, file_path), encoding = 'utf-16', sep= '\t'))        

#carrega arquivos das ultimas semanas
for file_path in os.listdir(caminho_precos_ultimas_semanas):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_ultimas_semanas, file_path), encoding = 'utf-16', sep= '\t'))            
    
   
#concatena todos dataframes temporarios em um unico
df = pd.concat(lista_df_temp, axis=0, ignore_index=True)

#apaga lista de dataframes temporarios
del lista_df_temp

#imprime primeiras linhas dataframe
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**3.Altera nome colunas dataframe**

In [118]:
df.columns=['Regiao', 'Estado', 'Municipio', 'Revenda', 'CNPJ_Revenda','Produto', 
         'Data_Coleta', 'Valor_Venda', 'Valor_Compra', 'Unidade_Medida','Bandeira']
df.head()

,Regiao,Estado,Municipio,Revenda,CNPJ_Revenda,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**4.Verifica metadados dataset (quantidade de linhas, colunas)**

In [113]:
df.describe(include='all')

,Regiao,Estado,Municipio,Revenda,CNPJ_Revenda,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida,Bandeira
count,4451631,4451631,4451631,4451631,4.451631e+06,4451631,4451631,4451631,1694692,4451631,4451631
unique,7,27,500,19235,NaN,5,1037,5508,52968,1,88
top,SE,SP,SAO PAULO,SIM REDE DE POSTOS LTDA,NaN,GASOLINA,17/08/2020,"2,999","3,05",R$ / litro,BRANCA
freq,2163376,1271548,119440,13843,NaN,1353344,18314,103169,2351,4451631,1414638
mean,NaN,NaN,NaN,NaN,2.149301e+13,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,2.446813e+13,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.388000e+09,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,4.802584e+12,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.038414e+13,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.880963e+13,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,9.874986e+13,NaN,NaN,NaN,NaN,NaN,NaN

**4.Filtra dados que não sejam de MG**

In [119]:
filtro_estado_mg = df['Estado'] == 'MG'
print('Quantidade de linhas antes de filtrar ', len(df.index))
df = df[filtro_estado_mg]
print('Quantidade de linhas depois de filtrar', len(df.index))

Quantidade de linhas antes de filtrar  4451631
Quantidade de linhas depois de filtrar 465446

**5.Remove colunas que não serão utilizadas na análise**

In [120]:
df.drop(['Regiao', 'Estado', 'Revenda', 'CNPJ_Revenda', 'Valor_Compra', 'Bandeira'], axis=1, inplace=True)
df.head()

       Municipio     Produto Data_Coleta Valor_Venda Unidade_Medida
258491   ALFENAS  DIESEL S10  01/02/2016       3,237     R$ / litro
258492   ALFENAS  DIESEL S10  02/05/2016       3,237     R$ / litro
258493   ALFENAS  DIESEL S10  04/01/2016       3,197     R$ / litro
258494   ALFENAS  DIESEL S10  04/04/2016       3,237     R$ / litro
258495   ALFENAS  DIESEL S10  06/06/2016       3,209     R$ / litro

**7.Verificar estrutura do dataframe para ver se podemos remover mais algum campo**

In [121]:
df.describe()

         Municipio Produto Data_Coleta Valor_Venda Unidade_Medida
count       465446  465446      465446      465446         465446
unique          64       5        1003        3831              1
top     UBERLANDIA  ETANOL  17/08/2020       2,999     R$ / litro
freq         27349  137751        1668       12874         465446

**8.Remover coluna de Unidade de medida (possui apenas 1 valor) e renomear coluna de Valor_Venda**

In [122]:
df.drop(['Unidade_Medida'], axis=1, inplace=True)
df = df.rename({'Valor_Venda': 'Valor_Venda_Litro_Em_Reais'}, axis=1)
df.describe()

         Municipio Produto Data_Coleta Valor_Venda_Litro_Em_Reais
count       465446  465446      465446                     465446
unique          64       5        1003                       3831
top     UBERLANDIA  ETANOL  17/08/2020                      2,999
freq         27349  137751        1668                      12874

**9.Verificar categoria de produtos**

In [123]:
print(df["Produto"].unique())

['DIESEL S10' 'ETANOL' 'GASOLINA' 'DIESEL' 'GNV']

**9.Checar tipos das colunas**

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 258491 to 4448812
Data columns (total 4 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Municipio                   465446 non-null  object
 1   Produto                     465446 non-null  object
 2   Data_Coleta                 465446 non-null  object
 3   Valor_Venda_Litro_Em_Reais  465446 non-null  object
dtypes: object(4)
memory usage: 17.8+ MB

**10.Alterar tipos das colunas para o tipo do dado correspondente**

In [143]:
##Tipos String
df['Municipio'] = df['Municipio'].astype('string')
df['Produto'] = df['Produto'].astype('string')

##Campo de Data
df['Data_Coleta'] = pd.to_datetime(df['Data_Coleta'], format='%d/%m/%Y')


##Campo de valor
# Substituir ',' por '.'
df['Valor_Venda_Litro_Em_Reais'] = df['Valor_Venda_Litro_Em_Reais'].astype(str).str.replace(',', '.')
df['Valor_Venda_Litro_Em_Reais'] = pd.to_numeric(df['Valor_Venda_Litro_Em_Reais'])

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 258491 to 4448812
Data columns (total 4 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Municipio                   465446 non-null  string
 1   Produto                     465446 non-null  string
 2   Data_Coleta                 465446 non-null  datetime64[ns]
 3   Valor_Venda_Litro_Em_Reais  465446 non-null  float64
dtypes: datetime64[ns](1), float64(1), string(2)
memory usage: 17.8 MB

**11.Procura por registros com valores faltantes**

In [144]:
df.isnull().values.any()

False

**12.Salva dataframe de historico de preços tratado em arquivo compactado**

In [151]:
caminho_df_v1 = './v1'
opcoes_zip = dict(method='zip', archive_name='historico_precos.csv')
df.to_csv(os.path.join(caminho_df_v1, 'historico_precos.zip'), index=False, compression=opcoes_zip)

**13.Carrega arquivo de Regiões do Estado**

In [153]:
#carregar pacote que le tabelas em pdf
import tabula

In [159]:
#converter tabela pdf em csv
caminho_arquivo_regioes = './v0/RegioesPlanejamento'
caminho_pdf = os.path.join(caminho_arquivo_regioes, 'ligminas_10_2_02_regplan_listamunicipios.pdf')
caminho_csv = os.path.join(caminho_arquivo_regioes, 'regioes.csv')
tabula.convert_into(caminho_pdf, caminho_csv, pages='all', output_format='csv')

**14.Verifica estrutura do arquivos de regiões**

In [175]:
example_file = pd.read_csv(caminho_csv, encoding="latin-1", nrows=10)

print(example_file)

  Código da\rRegião de Planejamento Nome da\rRegião de Planejamento  \
0                                 I                         Central
1                                 I                         Central
2                                 I                         Central
3                                 I                         Central
4                                 I                         Central
5                                 I                         Central
6                                 I                         Central
7                                 I                         Central
8                                 I                         Central
9                                 I                         Central

             Município
0               Abaeté
1  Alfredo Vasconcelos
2          Alvinópolis
3    Alvorada de Minas
4       Antônio Carlos
5               Araçaí
6      Augusto de Lima
7               Baldim
8      Barão de Cocais
9            Barbacena

**15.Cria DataFrame Pandas para armazenar os dados do dataset de regiões**

In [216]:
df_regioes = pd.read_csv(caminho_csv, encoding="latin-1")
df_regioes.describe()

,Código da\rRegião de Planejamento,Nome da\rRegião de Planejamento,Município
count,871,871,870
unique,13,13,854
top,I,Central,Município
freq,157,157,17

**16.Renomeia colunas dataframe de regiões**

In [217]:
df_regioes.columns=['Codigo_Regiao', 'Nome_Regiao', 'Municipio']
df_regioes.head()

  Codigo_Regiao Nome_Regiao            Municipio
0             I     Central               Abaeté
1             I     Central  Alfredo Vasconcelos
2             I     Central          Alvinópolis
3             I     Central    Alvorada de Minas
4             I     Central       Antônio Carlos

**17.Remove coluna de codigo_regiao**

In [218]:
df_regioes.drop(['Codigo_Regiao'], axis=1, inplace=True)
df_regioes.head()

  Nome_Regiao            Municipio
0     Central               Abaeté
1     Central  Alfredo Vasconcelos
2     Central          Alvinópolis
3     Central    Alvorada de Minas
4     Central       Antônio Carlos

**18.Verifica tipos dados dataframe**

In [219]:
df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome_Regiao  871 non-null    object
 1   Municipio    870 non-null    object
dtypes: object(2)
memory usage: 13.8+ KB

**19.Alterar tipos das colunas para o tipo do dado correspondente**

In [220]:
##Tipos String
df_regioes['Nome_Regiao'] = df_regioes['Nome_Regiao'].astype('string')
df_regioes['Municipio'] = df_regioes['Municipio'].astype('string')

df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome_Regiao  871 non-null    string
 1   Municipio    870 non-null    string
dtypes: string(2)
memory usage: 13.8 KB

**19.Verifica consistência dos dados (o dataframe apresenta quantidade de dados não nulos diferentes para cada coluna)**

In [221]:
#Dados repetidos
df_regioes[df_regioes.duplicated()]

                        Nome_Regiao  Municipio
101  Nome da
Região de Planejamento  Município
152  Nome da
Região de Planejamento  Município
203  Nome da
Região de Planejamento  Município
254  Nome da
Região de Planejamento  Município
305  Nome da
Região de Planejamento  Município
356  Nome da
Região de Planejamento  Município
407  Nome da
Região de Planejamento  Município
458  Nome da
Região de Planejamento  Município
509  Nome da
Região de Planejamento  Município
560  Nome da
Região de Planejamento  Município
611  Nome da
Região de Planejamento  Município
662  Nome da
Região de Planejamento  Município
713  Nome da
Região de Planejamento  Município
764  Nome da
Região de Planejamento  Município
815  Nome da
Região de Planejamento  Município

In [224]:
#Remover linhas com dados de cabecalho
filtro_cabecalho_municipio = df_regioes['Municipio'] != 'Município'
filtro_cabecalho_regiao = df_regioes['Nome_Regiao'] != 'Nome da Região de Planejamento'
df_regioes = df_regioes[filtro_cabecalho_municipio]
df_regioes = df_regioes[filtro_cabecalho_regiao]
df_regioes[df_regioes.duplicated()]

Empty DataFrame
Columns: [Nome_Regiao, Municipio]
Index: []

In [234]:
#Verificar se ainda existe dados de cabecalhos
print('Regioes', df_regioes["Nome_Regiao"].unique())

print('Quantidade de municipios com nome errado', len(df_regioes[df_regioes["Municipio"] == 'Município']))

Regioes <StringArray>
[             'Central',                 'Mata',         'Sul de Minas',
            'Triângulo',       'Alto Paranaíba',         'Centro-Oeste',
             'Noroeste',                'Norte', 'Jequitinhonha-Mucuri',
             'Rio Doce']
Length: 10, dtype: string
Quantidade de municipios com nome errado 0

**20.Descreve a estrutura do dataframe de regiões**

In [235]:
df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 0 to 871
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome_Regiao  853 non-null    string
 1   Municipio    853 non-null    string
dtypes: string(2)
memory usage: 20.0 KB

**21.Salva dataframe de regioes tratado em arquivo compactado**

In [236]:
caminho_df_v1 = './v1'
opcoes_zip = dict(method='zip', archive_name='regioes.csv')
df_regioes.to_csv(os.path.join(caminho_df_v1, 'regioes.zip'), index=False, compression=opcoes_zip)