## Preparação ambiente

In [1]:
#Importa os pacotes
import pandas as pd
import os
import numpy as np

In [2]:
#Define caminho para datasets
caminho_precos_por_semestre = './v0/PrecosAgrupadosPorSemestre'
caminho_precos_por_mes = './v0/PrecosAgrupadosPorMes'
caminho_precos_ultimas_semanas = './v0/PrecosQuatroUltimasSemanas'

**1.Verifica estrutura arquivos de Histórico**

In [3]:
example_file_path = os.path.join(caminho_precos_por_semestre, os.listdir(caminho_precos_por_semestre)[0]) 

example_file = pd.read_csv(example_file_path, nrows=10, encoding="utf-16")

print(example_file)

                                                          Região - Sigla\tEstado - Sigla\tMunicípio\tRevenda\tCNPJ da Revenda\tProduto\tData da Coleta\tValor de Venda\tValor de Compra\tUnidade de Medida\tBandeira
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8287\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 25\t2                            5921\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN

**2.Cria DataFrame Pandas para armazenar os dados dos datasets de histórico de preço**

In [4]:
lista_df_temp = []

#carrega arquivos agrupados por semestre
for file_path in os.listdir(caminho_precos_por_semestre):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_semestre, file_path), encoding = 'utf-16', sep= '\t'))    
    
#carrega arquivos agrupados por mes
for file_path in os.listdir(caminho_precos_por_mes):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_mes, file_path), encoding = 'utf-16', sep= '\t'))        

#carrega arquivos das ultimas semanas
for file_path in os.listdir(caminho_precos_ultimas_semanas):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_ultimas_semanas, file_path), encoding = 'utf-16', sep= '\t'))            

df = pd.DataFrame()
   
#concatena todos dataframes temporarios em um unico
df = pd.concat(lista_df_temp, axis=0, ignore_index=True)

#apaga lista de dataframes temporarios
del lista_df_temp

#imprime primeiras linhas dataframe
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**3.Verifica metadados dataset (quantidade de linhas, colunas)**

In [5]:
df.describe(include='all')

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
count,4451631,4451631,4451631,4451631,4.451631e+06,4451631,4451631,4451631,1694692,4451631,4451631
unique,7,27,500,19235,NaN,5,1037,5508,52968,1,88
top,SE,SP,SAO PAULO,SIM REDE DE POSTOS LTDA,NaN,GASOLINA,17/08/2020,"2,999","3,05",R$ / litro,BRANCA
freq,2163376,1271548,119440,13843,NaN,1353344,18314,103169,2351,4451631,1414638
mean,NaN,NaN,NaN,NaN,2.149301e+13,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,2.446813e+13,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.388000e+09,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,4.802584e+12,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.038414e+13,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.880963e+13,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,9.874986e+13,NaN,NaN,NaN,NaN,NaN,NaN

**4.Altera nome colunas dataframe**

In [6]:
df.columns=['Regiao', 'Estado', 'Municipio', 'Revenda', 'CNPJ_Revenda','Produto', 
         'Data_Coleta', 'Valor_Venda', 'Valor_Compra', 'Unidade_Medida','Bandeira']
df.head()

,Regiao,Estado,Municipio,Revenda,CNPJ_Revenda,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**5.Filtra dados que não sejam de MG**

In [7]:
filtro_estado_mg = df['Estado'] == 'MG'
print('Quantidade de linhas antes de filtrar ', len(df.index))
df = df[filtro_estado_mg]
print('Quantidade de linhas depois de filtrar', len(df.index))

Quantidade de linhas antes de filtrar  4451631
Quantidade de linhas depois de filtrar 465446

**6.Remove colunas que não serão utilizadas na análise**

In [8]:
df.drop(['Regiao', 'Estado', 'Revenda', 'CNPJ_Revenda', 'Bandeira'], axis=1, inplace=True)
df.head()

,Municipio,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida
258491,ALFENAS,DIESEL S10,01/02/2016,"3,237",NaN,R$ / litro
258492,ALFENAS,DIESEL S10,02/05/2016,"3,237",NaN,R$ / litro
258493,ALFENAS,DIESEL S10,04/01/2016,"3,197",NaN,R$ / litro
258494,ALFENAS,DIESEL S10,04/04/2016,"3,237",NaN,R$ / litro
258495,ALFENAS,DIESEL S10,06/06/2016,"3,209",NaN,R$ / litro

**7.Verificar estrutura do dataframe para ver se podemos remover mais algum campo**

In [9]:
df.describe()

         Municipio Produto Data_Coleta Valor_Venda Valor_Compra Unidade_Medida
count       465446  465446      465446      465446       163895         465446
unique          64       5        1003        3831        27013              1
top     UBERLANDIA  ETANOL  17/08/2020       2,999         3,27     R$ / litro
freq         27349  137751        1668       12874          247         465446

**8.Remover coluna de Unidade de medida (possui apenas 1 valor) e renomear coluna de Valor_Venda**

In [10]:
df.drop(['Unidade_Medida'], axis=1, inplace=True)
df = df.rename({'Valor_Venda': 'Valor_Venda_Litro_Em_Reais'}, axis=1)
df = df.rename({'Valor_Compra': 'Valor_Compra_Litro_Em_Reais'}, axis=1)
df.describe()

,Municipio,Produto,Data_Coleta,Valor_Venda_Litro_Em_Reais,Valor_Compra_Litro_Em_Reais
count,465446,465446,465446,465446,163895
unique,64,5,1003,3831,27013
top,UBERLANDIA,ETANOL,17/08/2020,"2,999","3,27"
freq,27349,137751,1668,12874,247

**9.Verificar categoria de produtos**

In [11]:
print(df["Produto"].unique())

['DIESEL S10' 'ETANOL' 'GASOLINA' 'DIESEL' 'GNV']

**10.Procura por registros com valores faltantes**

In [12]:
df.isnull().sum()

Municipio                           0
Produto                             0
Data_Coleta                         0
Valor_Venda_Litro_Em_Reais          0
Valor_Compra_Litro_Em_Reais    301551
dtype: int64

**11.Checar tipos das colunas**

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 258491 to 4448812
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Municipio                    465446 non-null  object
 1   Produto                      465446 non-null  object
 2   Data_Coleta                  465446 non-null  object
 3   Valor_Venda_Litro_Em_Reais   465446 non-null  object
 4   Valor_Compra_Litro_Em_Reais  163895 non-null  object
dtypes: object(5)
memory usage: 21.3+ MB

**12.Alterar tipos das colunas para o tipo do dado correspondente**

In [14]:
print(df[df['Valor_Compra_Litro_Em_Reais'] == -1])

Empty DataFrame
Columns: [Municipio, Produto, Data_Coleta, Valor_Venda_Litro_Em_Reais, Valor_Compra_Litro_Em_Reais]
Index: []

In [15]:
##Tipos String
df['Municipio'] = df['Municipio'].astype('string')
df['Produto'] = df['Produto'].astype('string')

##Campo de Data
df['Data_Coleta'] = pd.to_datetime(df['Data_Coleta'], format='%d/%m/%Y')


##Campos de valor
#Transformar valores N/A para -1 para facilitar a conversao para numerico
df = df.fillna(-1)

# Substituir ',' por '.'
df['Valor_Venda_Litro_Em_Reais'] = df['Valor_Venda_Litro_Em_Reais'].astype(str).str.replace(',', '.')
df['Valor_Venda_Litro_Em_Reais'] = pd.to_numeric(df['Valor_Venda_Litro_Em_Reais'])


df['Valor_Compra_Litro_Em_Reais'] = df['Valor_Compra_Litro_Em_Reais'].astype(str).str.replace(',', '.')
df['Valor_Compra_Litro_Em_Reais'] = pd.to_numeric(df['Valor_Compra_Litro_Em_Reais'])

print(df[df['Valor_Compra_Litro_Em_Reais'] == -1])

df.info()

          Municipio     Produto Data_Coleta  Valor_Venda_Litro_Em_Reais  \
258491      ALFENAS  DIESEL S10  2016-02-01                       3.237
258492      ALFENAS  DIESEL S10  2016-05-02                       3.237
258493      ALFENAS  DIESEL S10  2016-01-04                       3.197
258494      ALFENAS  DIESEL S10  2016-04-04                       3.237
258495      ALFENAS  DIESEL S10  2016-06-06                       3.209
...             ...         ...         ...                         ...
4448808         UBA    GASOLINA  2021-01-24                       4.750
4448809         UBA    GASOLINA  2021-01-24                       4.997
4448810         UBA    GASOLINA  2021-01-24                       4.997
4448811  UBERLANDIA    GASOLINA  2021-01-18                       4.699
4448812  UBERLANDIA    GASOLINA  2021-01-18                       4.539

         Valor_Compra_Litro_Em_Reais
258491                          -1.0
258492                          -1.0
258493                          -1.0
258494                          -1.0
258495                          -1.0
...                              ...
4448808                         -1.0
4448809                         -1.0
4448810                         -1.0
4448811                         -1.0
4448812                         -1.0

[301551 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 258491 to 4448812
Data columns (total 5 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Municipio                    465446 non-null  string
 1   Produto                      465446 non-null  string
 2   Data_Coleta                  465446 non-null  datetime64[ns]
 3   Valor_Venda_Litro_Em_Reais   465446 non-null  float64
 4   Valor_Compra_Litro_Em_Reais  465446 non-null  float64
dtypes: datetime64[ns](1), float64(2), string(2)
memory usage: 21.3 MB

**13.Quebra a data de coleta em novas colunas de Dia, Mes e Ano de Coleta**

In [16]:
df["Ano_Coleta"] = df["Data_Coleta"].dt.year
df["Mes_Coleta"] = df["Data_Coleta"].dt.month
df["Dia_Coleta"] = df["Data_Coleta"].dt.day
df["Mes_Ano_Coleta"] = df["Data_Coleta"].dt.to_period('M')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 258491 to 4448812
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Municipio                    465446 non-null  string
 1   Produto                      465446 non-null  string
 2   Data_Coleta                  465446 non-null  datetime64[ns]
 3   Valor_Venda_Litro_Em_Reais   465446 non-null  float64
 4   Valor_Compra_Litro_Em_Reais  465446 non-null  float64
 5   Ano_Coleta                   465446 non-null  int64
 6   Mes_Coleta                   465446 non-null  int64
 7   Dia_Coleta                   465446 non-null  int64
 8   Mes_Ano_Coleta               465446 non-null  period[M]
dtypes: datetime64[ns](1), float64(2), int64(3), period[M](1), string(2)
memory usage: 35.5 MB

In [17]:
print(np.sort(df["Dia_Coleta"].unique()))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]

**14.Salva dataframe de historico de preços tratado em arquivo compactado**

In [18]:
caminho_df_v1 = './v1'
opcoes_zip = dict(method='zip', archive_name='historico_precos.csv')
df.to_csv(os.path.join(caminho_df_v1, 'historico_precos.zip'), index=False, compression=opcoes_zip)

**15.Carrega arquivo de Regiões do Estado**

In [19]:
#carregar pacote que le tabelas em pdf
import tabula

In [20]:
#converter tabela pdf em csv
caminho_arquivo_regioes = './v0/RegioesPlanejamento'
caminho_pdf = os.path.join(caminho_arquivo_regioes, 'ligminas_10_2_02_regplan_listamunicipios.pdf')
caminho_csv = os.path.join(caminho_arquivo_regioes, 'regioes.csv')
tabula.convert_into(caminho_pdf, caminho_csv, pages='all', output_format='csv')

**16.Verifica estrutura do arquivos de regiões**

In [21]:
example_file = pd.read_csv(caminho_csv, encoding="latin-1", nrows=10)

print(example_file)

  Código da\rRegião de Planejamento Nome da\rRegião de Planejamento  \
0                                 I                         Central
1                                 I                         Central
2                                 I                         Central
3                                 I                         Central
4                                 I                         Central
5                                 I                         Central
6                                 I                         Central
7                                 I                         Central
8                                 I                         Central
9                                 I                         Central

             Município
0               Abaeté
1  Alfredo Vasconcelos
2          Alvinópolis
3    Alvorada de Minas
4       Antônio Carlos
5               Araçaí
6      Augusto de Lima
7               Baldim
8      Barão de Cocais
9            Barbacena

**17.Cria DataFrame Pandas para armazenar os dados do dataset de regiões**

In [22]:
df_regioes = pd.read_csv(caminho_csv, encoding="latin-1")
df_regioes.describe()

,Código da\rRegião de Planejamento,Nome da\rRegião de Planejamento,Município
count,871,871,870
unique,13,13,854
top,I,Central,Município
freq,157,157,17

**18.Renomeia colunas dataframe de regiões**

In [23]:
df_regioes.columns=['Codigo_Regiao', 'Nome_Regiao', 'Municipio']
df_regioes.head()

  Codigo_Regiao Nome_Regiao            Municipio
0             I     Central               Abaeté
1             I     Central  Alfredo Vasconcelos
2             I     Central          Alvinópolis
3             I     Central    Alvorada de Minas
4             I     Central       Antônio Carlos

**19.Remove coluna de codigo_regiao**

In [24]:
df_regioes.drop(['Codigo_Regiao'], axis=1, inplace=True)
df_regioes.head()

  Nome_Regiao            Municipio
0     Central               Abaeté
1     Central  Alfredo Vasconcelos
2     Central          Alvinópolis
3     Central    Alvorada de Minas
4     Central       Antônio Carlos

**20.Verifica tipos dados dataframe**

In [25]:
df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 872 entries, 0 to 871
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome_Regiao  871 non-null    object
 1   Municipio    870 non-null    object
dtypes: object(2)
memory usage: 13.8+ KB

**21.Altera o tipo das colunas**

In [26]:
##Tipos String
df_regioes['Nome_Regiao'] = df_regioes['Nome_Regiao'].astype('string')
df_regioes['Municipio'] = df_regioes['Municipio'].astype('string')

**22.Verifica consistência dos dados (o dataframe apresenta quantidade de dados não nulos diferentes para cada coluna)**

In [27]:
#Dados repetidos
print(len(df_regioes[df_regioes.duplicated()]))
print(df_regioes[df_regioes.duplicated()])

15
                        Nome_Regiao  Municipio
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município
Região de Planejamento  Município

In [28]:
#Remover linhas com dados de cabecalho
filtro_cabecalho_municipio = df_regioes['Municipio'] != 'Município'
filtro_cabecalho_regiao = df_regioes['Nome_Regiao'] != 'Nome da Região de Planejamento'
df_regioes = df_regioes[filtro_cabecalho_municipio]
df_regioes = df_regioes[filtro_cabecalho_regiao]
print(len(df_regioes[df_regioes.duplicated()]))

0

<ipython-input-28-5d0de6f1e873>:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_regioes = df_regioes[filtro_cabecalho_regiao]

In [29]:
#Verificar se ainda existe dados de cabecalhos
print('Regioes', df_regioes["Nome_Regiao"].unique())

print('Quantidade de municipios com nome errado', len(df_regioes[df_regioes["Municipio"] == 'Município']))

Regioes <StringArray>
[             'Central',                 'Mata',         'Sul de Minas',
            'Triângulo',       'Alto Paranaíba',         'Centro-Oeste',
             'Noroeste',                'Norte', 'Jequitinhonha-Mucuri',
             'Rio Doce']
Length: 10, dtype: string
Quantidade de municipios com nome errado 0

**23.Descreve a estrutura do dataframe de regiões**

In [30]:
df_regioes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 853 entries, 0 to 871
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nome_Regiao  853 non-null    string
 1   Municipio    853 non-null    string
dtypes: string(2)
memory usage: 20.0 KB

**24.Salva dataframe de regioes tratado em arquivo compactado**

In [31]:
caminho_df_v1 = './v1'
opcoes_zip = dict(method='zip', archive_name='regioes.csv')
df_regioes.to_csv(os.path.join(caminho_df_v1, 'regioes.zip'), index=False, compression=opcoes_zip)

**25.Verifica campos dos dois dataframes para fazer união das informações**

In [32]:
print(df['Municipio'].head())

print(df_regioes['Municipio'].head())

258491    ALFENAS
258492    ALFENAS
258493    ALFENAS
258494    ALFENAS
258495    ALFENAS
Name: Municipio, dtype: string
0                 Abaeté
1    Alfredo Vasconcelos
2            Alvinópolis
3      Alvorada de Minas
4         Antônio Carlos
Name: Municipio, dtype: string

**26.Alterar case da coluna de municipio do dataset de Regiões**

In [33]:
df_regioes['Municipio'] = df_regioes['Municipio'].str.upper()
print(df_regioes['Municipio'].head())

0                 ABAETÉ
1    ALFREDO VASCONCELOS
2            ALVINÓPOLIS
3      ALVORADA DE MINAS
4         ANTÔNIO CARLOS
Name: Municipio, dtype: string

**27.Verificar se todos municipios do dataset de histórico possuem correspondência no de Regiões**

In [34]:
#Municipios que não possuem correspondência
df[~df['Municipio'].isin(df_regioes['Municipio'])]["Municipio"].unique()

<StringArray>
[                   'ARAXA',              'DIVINOPOLIS',
                  'GUAXUPE',                  'ITAJUBA',
                   'ITAUNA',                  'JANAUBA',
                 'JANUARIA',           'JOAO MONLEVADE',
            'JOAO PINHEIRO',                 'MANHUACU',
                   'MURIAE',            'PARA DE MINAS',
               'PATROCINIO',          'POCOS DE CALDAS',
       'RIBEIRAO DAS NEVES',                   'SABARA',
         'SAO JOAO DEL REI',             'SAO LOURENCO',
 'SAO SEBASTIAO DO PARAISO',            'TEOFILO OTONI',
                  'TIMOTEO',            'TRES CORACOES',
                      'UBA',               'UBERLANDIA',
                     'UNAI',                   'VICOSA']
Length: 26, dtype: string

**28.Criar coluna sem caracteres especiais do dataset de regiões para corresponder aos da tabela de histórico**

In [35]:
df_regioes['Municipio_Tratado'] = df_regioes['Municipio'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

**29.Verifica se algum registro do dataset de histórico ainda ficou sem correspondencia**

In [36]:
df[~df['Municipio'].isin(df_regioes['Municipio_Tratado'])]["Municipio"].unique()

<StringArray>
['SAO JOAO DEL REI']
Length: 1, dtype: string

**30.Procura por registro semelhante no dataset de regiões**

In [37]:
df_regioes[df_regioes['Municipio_Tratado'].str.contains("SAO JOAO")]

      Nome_Regiao                   Municipio           Municipio_Tratado
142       Central            SÃO JOÃO DEL-REI            SAO JOAO DEL-REI
280          Mata        SÃO JOÃO DO MANHUAÇU        SAO JOAO DO MANHUACU
281          Mata         SÃO JOÃO NEPOMUCENO         SAO JOAO NEPOMUCENO
435  Sul de Minas  SÃO JOÃO BATISTA DO GLÓRIA  SAO JOAO BATISTA DO GLORIA
436  Sul de Minas            SÃO JOÃO DA MATA            SAO JOAO DA MATA
684         Norte           SÃO JOÃO DA LAGOA           SAO JOAO DA LAGOA
685         Norte           SÃO JOÃO DA PONTE           SAO JOAO DA PONTE
686         Norte        SÃO JOÃO DAS MISSÕES        SAO JOAO DAS MISSOES
687         Norte           SÃO JOÃO DO PACUÍ           SAO JOAO DO PACUI
688         Norte         SÃO JOÃO DO PARAÍSO         SAO JOAO DO PARAISO
849      Rio Doce      SÃO JOÃO DO MANTENINHA      SAO JOAO DO MANTENINHA
850      Rio Doce         SÃO JOÃO DO ORIENTE         SAO JOAO DO ORIENTE
851      Rio Doce        SÃO JOÃO EVANGELISTA        SAO JOAO EVANGELISTA

**31.Altera o nome da cidade de SÃO JOÃO DEL-REI no dataset de histórico para manter o padrão adotado pelo dataset do governo do Estado**

In [38]:
df.loc[(df['Municipio'] == 'SAO JOAO DEL REI'),'Municipio']  = 'SAO JOAO DEL-REI'

**32.Verifica novamente se algum registro do dataset de histórico ainda ficou sem correspondencia**

In [39]:
df[~df['Municipio'].isin(df_regioes['Municipio_Tratado'])]["Municipio"].unique()

<StringArray>
[]
Length: 0, dtype: string

**33.Adiciona campo de Região ao dataset de histórico**

In [40]:
df = df.merge(df_regioes, left_on='Municipio', right_on='Municipio_Tratado', how="left")

**34.Verifica se algum registro do dataset de histórico ficou sem  Região**

In [41]:
len(df[df['Nome_Regiao'].isnull()])

0

**35.Verifica estrutura dataframe**

In [42]:
print(df.head())

  Municipio_x     Produto Data_Coleta  Valor_Venda_Litro_Em_Reais  \
0     ALFENAS  DIESEL S10  2016-02-01                       3.237
1     ALFENAS  DIESEL S10  2016-05-02                       3.237
2     ALFENAS  DIESEL S10  2016-01-04                       3.197
3     ALFENAS  DIESEL S10  2016-04-04                       3.237
4     ALFENAS  DIESEL S10  2016-06-06                       3.209

   Valor_Compra_Litro_Em_Reais  Ano_Coleta  Mes_Coleta  Dia_Coleta  \
0                         -1.0        2016           2           1
1                         -1.0        2016           5           2
2                         -1.0        2016           1           4
3                         -1.0        2016           4           4
4                         -1.0        2016           6           6

  Mes_Ano_Coleta   Nome_Regiao Municipio_y Municipio_Tratado
0        2016-02  Sul de Minas     ALFENAS           ALFENAS
1        2016-05  Sul de Minas     ALFENAS           ALFENAS
2        2016-01  Sul de Minas     ALFENAS           ALFENAS
3        2016-04  Sul de Minas     ALFENAS           ALFENAS
4        2016-06  Sul de Minas     ALFENAS           ALFENAS

**36.Remove colunas adicionais de município**

In [43]:
df.drop(['Municipio_x', 'Municipio_Tratado'], axis=1, inplace=True)
print(df.head())

      Produto Data_Coleta  Valor_Venda_Litro_Em_Reais  \
0  DIESEL S10  2016-02-01                       3.237
1  DIESEL S10  2016-05-02                       3.237
2  DIESEL S10  2016-01-04                       3.197
3  DIESEL S10  2016-04-04                       3.237
4  DIESEL S10  2016-06-06                       3.209

   Valor_Compra_Litro_Em_Reais  Ano_Coleta  Mes_Coleta  Dia_Coleta  \
0                         -1.0        2016           2           1
1                         -1.0        2016           5           2
2                         -1.0        2016           1           4
3                         -1.0        2016           4           4
4                         -1.0        2016           6           6

  Mes_Ano_Coleta   Nome_Regiao Municipio_y
0        2016-02  Sul de Minas     ALFENAS
1        2016-05  Sul de Minas     ALFENAS
2        2016-01  Sul de Minas     ALFENAS
3        2016-04  Sul de Minas     ALFENAS
4        2016-06  Sul de Minas     ALFENAS

**37.Renomeia coluna município restante**

In [44]:
df = df.rename({'Municipio_y': 'Municipio'}, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465446 entries, 0 to 465445
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Produto                      465446 non-null  string
 1   Data_Coleta                  465446 non-null  datetime64[ns]
 2   Valor_Venda_Litro_Em_Reais   465446 non-null  float64
 3   Valor_Compra_Litro_Em_Reais  465446 non-null  float64
 4   Ano_Coleta                   465446 non-null  int64
 5   Mes_Coleta                   465446 non-null  int64
 6   Dia_Coleta                   465446 non-null  int64
 7   Mes_Ano_Coleta               465446 non-null  period[M]
 8   Nome_Regiao                  465446 non-null  string
 9   Municipio                    465446 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(1), period[M](1), string(2)
memory usage: 39.1+ MB

**38.Altera tipo da coluna município restante**

In [45]:
df['Municipio'] = df['Municipio'].astype('string')

**39.Salva novo dataframe em um arquivo**

In [46]:
caminho_df_v2 = './v2'
opcoes_zip = dict(method='zip', archive_name='historico_precos_com_regioes.csv')
df.to_csv(os.path.join(caminho_df_v2, 'historico_precos_com_regioes.zip'), index=False, compression=opcoes_zip)

In [49]:
df_regioes[df_regioes["Municipio"] == "PARACATU"]

    Nome_Regiao Municipio Municipio_Tratado
599    Noroeste  PARACATU          PARACATU