## Preparação ambiente

In [15]:
#Importa os pacotes
import pandas as pd
import os

In [19]:
#Define caminho para datasets
caminho_precos_por_semestre = './v0/PrecosAgrupadosPorSemestre'
caminho_precos_por_mes = './v0/PrecosAgrupadosPorMes'
caminho_precos_ultimas_semanas = './v0/PrecosQuatroUltimasSemanas'

**1.Verifica estrutura arquivos de Histórico**

In [48]:
example_file_path = os.path.join(caminho_precos_por_semestre, os.listdir(caminho_precos_por_semestre)[0]) 

example_file = pd.read_csv(example_file_path, nrows=10, encoding="utf-16")

print(example_file)

                                                          Região - Sigla\tEstado - Sigla\tMunicípio\tRevenda\tCNPJ da Revenda\tProduto\tData da Coleta\tValor de Venda\tValor de Compra\tUnidade de Medida\tBandeira
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8287\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 25\t2                            5921\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8336\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 399\t2                           8275\tR$ / litro\tRAIZEN
CO\tDF\tBRASILIA\tABRITTA POSTOS DE SERVIÇOS LT... 499\t2                           8903\tR$ / litro\tRAIZEN

**2.Cria DataFrame Pandas para armazenar os dados dos datasets de histórico de preço**

In [87]:
lista_df_temp = []

#carrega arquivos agrupados por semestre
for file_path in os.listdir(caminho_precos_por_semestre):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_semestre, file_path), encoding = 'utf-16', sep= '\t'))    
    
#carrega arquivos agrupados por mes
for file_path in os.listdir(caminho_precos_por_mes):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_por_mes, file_path), encoding = 'utf-16', sep= '\t'))        

#carrega arquivos das ultimas semanas
for file_path in os.listdir(caminho_precos_ultimas_semanas):    
    lista_df_temp.append(pd.read_csv(os.path.join(caminho_precos_ultimas_semanas, file_path), encoding = 'utf-16', sep= '\t'))            
    
   
#concatena todos dataframes temporarios em um unico
df = pd.concat(lista_df_temp, axis=0, ignore_index=True)

#apaga lista de dataframes temporarios
del lista_df_temp

#imprime primeiras linhas dataframe
df.head()

,Região - Sigla,Estado - Sigla,Município,Revenda,CNPJ da Revenda,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**3.Altera nome colunas dataframe**

In [88]:
df.columns=['Regiao', 'Estado', 'Municipio', 'Revenda', 'CNPJ_Revenda','Produto', 
         'Data_Coleta', 'Valor_Venda', 'Valor_Compra', 'Unidade_Medida','Bandeira']
df.head()

,Regiao,Estado,Municipio,Revenda,CNPJ_Revenda,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida,Bandeira
0,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,02/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
1,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,03/02/2016,"3,399","2,8287",R$ / litro,RAIZEN
2,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,05/01/2016,"3,25","2,5921",R$ / litro,RAIZEN
3,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,09/03/2016,"3,499","2,8903",R$ / litro,RAIZEN
4,CO,DF,BRASILIA,ABRITTA POSTOS DE SERVIÇOS LTDA,10668863000195,ETANOL,11/02/2016,"3,399","2,8336",R$ / litro,RAIZEN

**4.Verifica metadados dataset (quantidade de linhas, colunas)**

In [69]:
df.describe(include='all')

,Regiao,Estado,Municipio,Revenda,CNPJ_Revenda,Produto,Data_Coleta,Valor_Venda,Valor_Compra,Unidade_Medida,Bandeira
count,4451631,4451631,4451631,4451631,4.451631e+06,4451631,4451631,4451631,1694692,4451631,4451631
unique,7,27,500,19235,NaN,5,1037,5508,52968,1,88
top,SE,SP,SAO PAULO,SIM REDE DE POSTOS LTDA,NaN,GASOLINA,17/08/2020,"2,999","3,05",R$ / litro,BRANCA
freq,2163376,1271548,119440,13843,NaN,1353344,18314,103169,2351,4451631,1414638
mean,NaN,NaN,NaN,NaN,2.149301e+13,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,2.446813e+13,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,1.388000e+09,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,4.802584e+12,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,1.038414e+13,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,2.880963e+13,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,9.874986e+13,NaN,NaN,NaN,NaN,NaN,NaN

**4.Filtra dados que não sejam de MG**

In [89]:
filtro_estado_mg = df['Estado'] == 'MG'
print('Quantidade de linhas antes de filtrar ', len(df.index))
df = df[filtro_estado_mg]
print('Quantidade de linhas depois de filtrar', len(df.index))

Quantidade de linhas antes de filtrar  4451631
Quantidade de linhas depois de filtrar 465446

**5.Remove colunas que não serão utilizadas na análise**

In [90]:
df.drop(['Regiao', 'Estado', 'Revenda', 'CNPJ_Revenda', 'Valor_Compra', 'Bandeira'], axis=1, inplace=True)
df.head()

       Municipio     Produto Data_Coleta Valor_Venda Unidade_Medida
258491   ALFENAS  DIESEL S10  01/02/2016       3,237     R$ / litro
258492   ALFENAS  DIESEL S10  02/05/2016       3,237     R$ / litro
258493   ALFENAS  DIESEL S10  04/01/2016       3,197     R$ / litro
258494   ALFENAS  DIESEL S10  04/04/2016       3,237     R$ / litro
258495   ALFENAS  DIESEL S10  06/06/2016       3,209     R$ / litro